@import url('//fonts.cdnfonts.com/css/iciel-gotham');

body
{
  color: rgb(255, 255, 255);
  margin: 1em;
  font-family: 'iCiel Gotham', sans-serif;
  background-image:url(https://cdn.wallpapersafari.com/92/62/kVSwBY.png);
  background-size: cover;
}

button {
  padding: 10px;
}

.submitBtn {
  padding: 10px;
  margin: 1vh;;
}

.editDelBtnDiv {
  display: inline-flex;
  margin: 1vh;
}

h1 {
  color: #FE2C55;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

nav button {
  font-size: 2.5vh;
  border: 1px solid rgb(223, 7, 212);
  border-radius: 5px;
}

nav img {
  width: 7vh;
  vertical-align: middle;
  margin-right: 1vh;
}

#portrait {
  border-radius: 50%;
  max-width: 3vh;
}

.loginoutBtn {
  position: absolute;
  right: 30px;
}

a {
  color: rgb(255, 255, 255);
}

nav a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(223, 7, 212);
}

#addGameForm {
  text-align: center;
}

#add-comment-form {
  padding: 5px;
  text-align: center;
}

ul, ol {
  font-size: 2vh;
  text-align: center;
}

li {
  line-height: 1.2;
}

thead {
  color: #FE2C55;
}

table {
  width: 90%;
  text-align: center;
  font-size: 3vh;
}

th, td {
  display:flexbox;
  padding: 0.6vh;
}

#commentBox {
  font-size: 2vh;
}

#uploadButton {
  margin-top:2vh;
  text-align: center;
}

footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 0.5;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}